@using CampaignManager.Web.Model

<tr>
    <td class="py-0.5">
        <span class="text-sm">@Label</span>
    </td>
    <td class="py-0.5">
        <input type="number" value="@Current" 
               @onchange="@(e => OnValueChanged.InvokeAsync(int.Parse(e.Value.ToString())))"
               class="w-full min-w-10 p-0.5 text-center border border-gray-300 rounded"/>
    </td>
    <td class="py-0.5">
        <input type="number" value="@Max" disabled
               class="w-full min-w-10 p-0.5 text-center bg-gray-100 border border-gray-300 rounded"/>
    </td>
</tr>

@code {
    [Parameter] public string Label { get; set; }
    [Parameter] public int Current { get; set; }
    [Parameter] public int Max { get; set; }
    [Parameter] public EventCallback<int> OnValueChanged { get; set; }
}