@using CampaignManager.Web.Model

<div class="bg-white shadow rounded-lg p-4 mb-4">
    <h3 class="text-xl font-bold mb-4">Биография</h3>

    <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
        <!-- Left Column -->
        <div class="space-y-4">
            <div>
                <h4 class="font-semibold mb-1">Описание</h4>
                <InputTextArea @bind-Value="Character.Biography.Appearance" rows="2" class="w-full p-2 border rounded" />
            </div>
            
            <div>
                <h4 class="font-semibold mb-1">Идеалы и принципы</h4>
                <InputTextArea @bind-Value="Character.Biography.IdealsAndPrinciples" rows="2" class="w-full p-2 border rounded" />
            </div>

            <div>
                <h4 class="font-semibold mb-1">Значимые люди</h4>
                <InputTextArea @bind-Value="Character.Biography.SignificantPeople" rows="2" class="w-full p-2 border rounded" />
            </div>

            <div>
                <h4 class="font-semibold mb-1">Важные места</h4>
                <InputTextArea @bind-Value="Character.Biography.ImportantPlaces" rows="2" class="w-full p-2 border rounded" />
            </div>
            
            <div>
                <h4 class="font-semibold mb-1">Ценное имущество</h4>
                <InputTextArea @bind-Value="Character.Biography.ValuablePossessions" rows="2" class="w-full p-2 border rounded" />
            </div>
        </div>

        <!-- Right Column -->
        <div class="space-y-4">
            <div>
                <h4 class="font-semibold mb-1">Черты</h4>
                <InputTextArea @bind-Value="Character.Biography.Traits" rows="2" class="w-full p-2 border rounded" />
            </div>           

            <div>
                <h4 class="font-semibold mb-1">Травмы и Шрамы</h4>
                <InputTextArea @bind-Value="Character.Biography.Injuries" rows="2" class="w-full p-2 border rounded" />
            </div>

            <div>
                <h4 class="font-semibold mb-1">Фобии и Мании</h4>
                <InputTextArea @bind-Value="Character.Biography.Phobias" rows="2" class="w-full p-2 border rounded" />
            </div>

            <div>
                <h4 class="font-semibold mb-1">Магические книги, Заклинания и Aртефакты</h4>
                <InputTextArea @bind-Value="Character.Biography.MagicalItems" rows="2" class="w-full p-2 border rounded" />
            </div>

            <div>
                <h4 class="font-semibold mb-1">Встречи со сверхъестественным</h4>
                <InputTextArea @bind-Value="Character.Biography.SupernaturalEncounters" rows="2" class="w-full p-2 border rounded" />
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter] public Character Character { get; set; } = null!;
}
