<div class="bg-white shadow rounded-lg p-4 mb-4">
    <h3 class="text-xl font-bold mb-4">Биография</h3>

    <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
        <!-- Left Column -->
        <div class="space-y-4">
            <div>
                <h4 class="font-semibold mb-1">Описание</h4>
                <InitialSizeTextArea InitialRows="2" @bind-Value="Character.Biography.Appearance" class="w-full p-2 border rounded"/>
            </div>

            <div>
                <h4 class="font-semibold mb-1">Идеалы и принципы</h4>
                <InitialSizeTextArea InitialRows="2" @bind-Value="Character.Biography.IdealsAndPrinciples" class="w-full p-2 border rounded"/>
            </div>

            <div>
                <h4 class="font-semibold mb-1">Значимые люди</h4>
                <InitialSizeTextArea InitialRows="2" @bind-Value="Character.Biography.SignificantPeople" class="w-full p-2 border rounded"/>
            </div>

            <div>
                <h4 class="font-semibold mb-1">Важные места</h4>
                <InitialSizeTextArea InitialRows="2" @bind-Value="Character.Biography.ImportantPlaces" class="w-full p-2 border rounded"/>
            </div>

            <div>
                <h4 class="font-semibold mb-1">Ценное имущество</h4>
                <InitialSizeTextArea InitialRows="2" @bind-Value="Character.Biography.ValuablePossessions" class="w-full p-2 border rounded"/>
            </div>
        </div>

        <!-- Right Column -->
        <div class="space-y-4">
            <div>
                <h4 class="font-semibold mb-1">Черты</h4>
                <InitialSizeTextArea InitialRows="2" @bind-Value="Character.Biography.Traits" class="w-full p-2 border rounded"/>
            </div>

            <div>
                <h4 class="font-semibold mb-1">Травмы и Шрамы</h4>
                <InitialSizeTextArea InitialRows="2" @bind-Value="Character.Biography.Injuries" class="w-full p-2 border rounded"/>
            </div>

            <div>
                <h4 class="font-semibold mb-1">Фобии и Мании</h4>
                <InitialSizeTextArea InitialRows="2" @bind-Value="Character.Biography.Phobias" class="w-full p-2 border rounded"/>
            </div>

            <div>
                <h4 class="font-semibold mb-1">Магические книги, Заклинания и Aртефакты</h4>
                <InitialSizeTextArea InitialRows="2" @bind-Value="Character.Biography.MagicalItems" class="w-full p-2 border rounded"/>
            </div>

            <div>
                <h4 class="font-semibold mb-1">Встречи со сверхъестественным</h4>
                <InitialSizeTextArea InitialRows="2" @bind-Value="Character.Biography.SupernaturalEncounters" class="w-full p-2 border rounded"/>
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter] public Character Character { get; set; } = null!;
}
