@using CampaignManager.Web.Model
@using CampaignManager.Web.Components.Shared

<div class="mb-1">
    <h3 class="text-xl font-bold mb-1">ХАРАКТЕРИСТИКИ</h3>
    
    <AttributeRowsTable Characteristics="@Character.Characteristics" OnUpdate="@UpdateCharacteristic" />
    
    <div class="mt-4 flex flex-col md:flex-row md:gap-4">
        <div class="flex-1">
            <DerivedAttributesTable Attributes="@Character.DerivedAttributes" />
        </div>
        <div class="flex-1">
            <CharacterStateTable State="@Character.State" />
        </div>
    </div>
</div>

@code {
    [Parameter] public Character Character { get; set; }
    [Parameter] public EventCallback OnUpdate { get; set; }

    private async Task UpdateCharacteristic(AttributeValue value)
    {
        value.UpdateDerived();
        await OnUpdate.InvokeAsync();
    }
}