@using CampaignManager.Web.Model
@using CampaignManager.Web.Components.Shared

<div class="mb-4">
    <h3 class="text-xl font-bold mb-1">Характеристики</h3>
    <AttributeRowsTable Characteristics="@Character.Characteristics" OnUpdate="@UpdateCharacteristic" />
</div>

@code {
    [Parameter] public Character Character { get; set; }
    [Parameter] public EventCallback OnUpdate { get; set; }

    private async Task UpdateCharacteristic(AttributeValue value)
    {
        value.UpdateDerived();
        await OnUpdate.InvokeAsync();
    }
}