@inject CampaignService campaignService;
@rendermode InteractiveServer

<h3>Доступные компании</h3>


@code {

    private List<Campaign> Campaigns;

    protected override void OnInitialized()
    {
        Campaigns = campaignService.GetUserCampaigns();
    }
}
