@using CampaignManager.Web.Model
@rendermode InteractiveServer

<div class="overflow-x-auto">
    <h3 class="text-xl font-bold mb-1">НАВЫКИ</h3>
    <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
        <SkillGroupColumn Groups="@Model.SkillGroups.Take(2).ToList()" />
        <SkillGroupColumn Groups="@Model.SkillGroups.Skip(2).Take(3).ToList()" />
        <SkillGroupColumn Groups="@Model.SkillGroups.Skip(5).ToList()" />
    </div>
</div>

@code {
    [Parameter] public SkillsModel Model { get; set; }
}