@using CampaignManager.Web.Model

<div class="flex flex-col gap-4">
    @foreach (var group in Groups)
    {
        <SkillGroupCard Group="@group" />
    }
</div>

@code {
    [Parameter] public List<SkillGroup> Groups { get; set; }
}