@using CampaignManager.Web.Model

<tr>
    <td class="py-0.5">
        <span class="font-medium">@Label</span>
    </td>
    <td class="py-0.5 text-center">
        <input type="checkbox" checked="@Value"
               @onchange="@(e => ValueChanged.InvokeAsync((bool)e.Value))"
               class="text-center"/>
    </td>
</tr>

@code {
    [Parameter] public string Label { get; set; }
    [Parameter] public bool Value { get; set; }
    [Parameter] public EventCallback<bool> ValueChanged { get; set; }
}