@using CampaignManager.Web.Model

<tr>
    <td class="border p-2">
        <input type="text" @bind="Weapon.Name" 
               class="w-full p-1 border rounded" placeholder="Название"/>
    </td>
    <td class="border p-2">
        <input type="text" @bind="Weapon.Damage" 
               class="w-full p-1 border rounded text-center"/>
    </td>
    <td class="border p-2">
        <input type="number" @bind="Weapon.Range" 
               class="w-full p-1 border rounded text-center"/>
    </td>
    <td class="border p-2">
        <input type="number" @bind="Weapon.Attacks" 
               class="w-full p-1 border rounded text-center"/>
    </td>
    <td class="border p-2">
        <input type="number" @bind="Weapon.Ammo" 
               class="w-full p-1 border rounded text-center"/>
    </td>
    <td class="border p-2">
        <input type="number" @bind="Weapon.Malfunction" 
               class="w-full p-1 border rounded text-center"/>
    </td>
    <td class="border p-2">
        <button @onclick="OnDelete" class="text-red-500 hover:text-red-700">
            <i class="fas fa-trash"></i>
        </button>
    </td>
</tr>

@code {
    [Parameter] public Weapon Weapon { get; set; }
    [Parameter] public EventCallback OnDelete { get; set; }
}