@using CampaignManager.Web.Model

<table class="w-full border-collapse">
    <thead>
        <tr>
            <th class="border p-2 bg-gray-200">ОРУЖИЕ</th>
            <th class="border p-2 bg-gray-200">ШАНС</th>
            <th class="border p-2 bg-gray-200">УРОН</th>
            <th class="border p-2 bg-gray-200">ДАЛЬН.</th>
            <th class="border p-2 bg-gray-200">АТАКИ</th>
            <th class="border p-2 bg-gray-200">ПАТРОНЫ</th>
            <th class="border p-2 bg-gray-200">ПРОЧ.</th>
            <th class="border p-2 bg-gray-200"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var weapon in Weapons)
        {
            <WeaponRow Weapon="@weapon" OnDelete="@(() => RemoveWeapon(weapon))" />
        }
        <tr>
            <td colspan="8" class="border p-2">
                <button @onclick="AddNewWeapon" class="w-full bg-green-500 hover:bg-green-600 text-white text-sm py-1 px-2 rounded">
                    <i class="fas fa-plus mr-1"></i> Добавить оружие
                </button>
            </td>
        </tr>
    </tbody>
</table>

@code {
    [Parameter] public List<Weapon> Weapons { get; set; }

    private void AddNewWeapon()
    {
        Weapons.Add(new Weapon());
        StateHasChanged();
    }

    private void RemoveWeapon(Weapon weapon)
    {
        Weapons.Remove(weapon);
        StateHasChanged();
    }
}