@using CampaignManager.Web.Model

<div class="bg-white shadow rounded-lg p-4 mb-4">
    <h4 class="text-lg font-semibold mb-3">Оружие</h4>
    <WeaponsTable Weapons="@Weapons" />
</div>

@code {
    [Parameter] public List<Weapon> Weapons { get; set; }
}