@using CampaignManager.Web.Model

<div class="md:overflow-visible overflow-x-auto md:mx-0 -mx-4">
    <table class="w-full border-collapse">
        <thead>
            <tr>
                <th class="border p-2 bg-gray-200">ОРУЖИЕ</th>
                <th class="border p-2 bg-gray-200 min-w-[60px]">ШАНС</th>
                <th class="border p-2 bg-gray-200 min-w-[60px]">УРОН</th>
                <th class="border p-2 bg-gray-200 min-w-[60px]">ДАЛЬН.</th>
                <th class="border p-2 bg-gray-200 min-w-[60px]">АТАКИ</th>
                <th class="border p-2 bg-gray-200 min-w-[60px]">ПАТРОНЫ</th>
                <th class="border p-2 bg-gray-200 min-w-[60px]">ПРОЧ.</th>
                <th class="border p-2 bg-gray-200 w-10"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var weapon in Weapons)
            {
                <WeaponRow Weapon="@weapon" OnDelete="@(() => RemoveWeapon(weapon))" />
            }
            <tr>
                <td colspan="8" class="border p-2">
                    <button @onclick="AddNewWeapon" class="w-full bg-green-500 hover:bg-green-600 text-white text-sm py-1 px-2 md:py-2 md:px-3 rounded">
                        <i class="fas fa-plus mr-1"></i> Добавить оружие
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>

@code {
    [Parameter] public List<Weapon> Weapons { get; set; }

    private void AddNewWeapon()
    {
        Weapons.Add(new Weapon());
        StateHasChanged();
    }

    private void RemoveWeapon(Weapon weapon)
    {
        Weapons.Remove(weapon);
        StateHasChanged();
    }
}