@inherits LayoutComponentBase
@using CampaignManager.Web.Components.Navigation

<div class="flex flex-col min-h-screen bg-gray-100">
    <NavMenu />

    <main class="flex-grow">
        <div class="max-w-7xl mx-auto py-6 sm:px-6 lg:px-8">
            @Body
        </div>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>