@using Blazorise
@using CampaignManager.Web.Components.Navigation
@inherits LayoutComponentBase

<Layout Sider="false">
    <LayoutHeader>
        <TopBar />
    </LayoutHeader>
    <LayoutContent>
        <Container Fluid>
            @Body
        </Container>
    </LayoutContent>
</Layout>

<div id="blazor-error-ui" class="fixed bottom-0 w-full bg-red-600 text-white p-3 hidden">
    <div class="flex justify-between items-center max-w-7xl mx-auto">
        <p>An unhandled error has occurred.</p>
        <div>
            <a href="" class="reload text-white underline mr-3">Reload</a>
            <a class="dismiss cursor-pointer">🗙</a>
        </div>
    </div>
</div>

@code {
    // No longer need nav menu logic here
}

<style>
    /* Remove custom layout CSS, use Blazorise responsive instead */
</style>