
.page {
    position: relative;
    display: flex;
    flex-direction: row;
    min-height: 100vh;
    width: 100%;
}

.main {
    flex: 1;
    display: flex;
    flex-direction: column;
    width: 100%;
    min-width: 0;
}

.content {
    padding-top: 1.5rem;
    flex: 1;
    width: 100%;
    position: relative;
}

@media (max-width: 1024px) {
    .page {
        flex-direction: column;
    }

    .content {
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }
}

@media (max-width: 768px) {
    .page {
        flex-direction: column;
    }
}