@using CampaignManager.Web.Components.Navigation
@inherits LayoutComponentBase

<div class="page">
    <div class="main">
        <TopBar/>
        <div class="content px-4">
            @Body
        </div>
    </div>

</div>

<div id="blazor-error-ui" class="fixed bottom-0 w-full bg-red-600 text-white p-3 hidden">
    <div class="flex justify-between items-center max-w-7xl mx-auto">
        <p>An unhandled error has occurred.</p>
        <div>
            <a href="" class="reload text-white underline mr-3">Reload</a>
            <a class="dismiss cursor-pointer">🗙</a>
        </div>
    </div>
</div>

@inject NavigationManager NavigationManager

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    private void Logout()
    {
        NavigationManager.NavigateTo("api/account/logout", true);
    }

}

<style>
    .page {
        position: relative;
        display: flex;
        flex-direction: row;
        min-height: 100vh;
    }

    .main {
        flex: 1;
        display: flex;
        flex-direction: column;
    }

    .content {
        padding-top: 1.5rem;
        flex: 1;
    }

    @@media (max-width: 768px) {
        .page {
            flex-direction: column;
        }
    }
</style>