@page "/character"
@using CampaignManager.Web.Components.CharacterComponents
@rendermode InteractiveServer
@inject CharacterGenerationService CharacterGenerationService
@inject NavigationManager Navigation

<PageTitle>@Сharacter.PersonalInfo.Name</PageTitle>
<div class="max-w-7xl mx-auto p-6 bg-gray-100 border-2 border-gray-800 rounded-lg">

    <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
        <PersonalInfoComponent Character="@Сharacter" />
        <CharacteristicsComponent Character="@Сharacter" OnUpdate="StateHasChanged" />
    </div>

    <div class="mt-4">
        <SkillComponent Model="@Сharacter.Skills" />
    </div>

    <div class="mt-4">
        <WeaponsComponent Weapons="@Сharacter.Weapons" />
    </div>

    <div class="mt-4">
        <h3 class="text-xl font-bold mb-2">Предыстория</h3>
        <textarea @bind="Сharacter.Backstory" rows="4" class="w-full p-2 border rounded"></textarea>
    </div>
</div>
@code {
    private Character Сharacter;

    protected override void OnInitialized()
    {
        Сharacter = CharacterGenerationService.GenerateRandomCharacter();
    }
}