@page "/"
@using CampaignManager.Web.Components.Features.Admin.Components
@using CampaignManager.Web.Components.Features.Campaigns.Components
@using CampaignManager.Web.Components.Features.Scenarios.Components
<PageTitle>Campaign Manager</PageTitle>

<PageHeader Title="Главная">
    <Actions>
        <AuthorizeView>
            <Authorized>
                <div class="cm-avatar" title="@context.User.Identity?.Name">
                    @(context.User.Identity?.Name?.Length > 0 ? char.ToUpper(context.User.Identity.Name[0]) : '?')
                </div>
            </Authorized>
        </AuthorizeView>
    </Actions>
</PageHeader>

<div style="padding:1.25rem 1.25rem 2rem;">
    <AuthorizeView>
        <Authorized>
            <OneShotAnnouncement/>
            <BecomeKeeperCard/>
        </Authorized>
    </AuthorizeView>

    <UserCampaignsComponent/>
    <JoinCampaignComponent/>
    <KeeperCharactersComponent/>
</div>
