@page "/"
@using CampaignManager.Web.Compain.Models
@inject CampaignService CampaignService

<PageTitle>Call of Cthulhu campaign manager</PageTitle>

<div class="max-w-7xl mx-auto py-6 sm:px-6 lg:px-8">
    <h1 class="text-3xl font-bold mb-6">Call of Cthulhu campaign manager</h1>

    <UserCampaignsComponent/>

    <div class="mb-8">
        <CreateCampaignComponent/>
    </div>

    <CompanyApplyComponent Companies="AvailableCompanies"/>
</div>

@code {
    private List<Campaign> AvailableCompanies;

    protected override async Task OnInitializedAsync()
    {
        AvailableCompanies = await CampaignService.GetAvailableCompaniesAsync();
    }

}