@page "/"
@using CampaignManager.Web.Components.CompaingComponets
@inject CampaignService CampaignService

<PageTitle>Управление кампаниями</PageTitle>

<div class="max-w-7xl mx-auto py-6 sm:px-6 lg:px-8">
    <h1 class="text-3xl font-bold mb-6">Управление кампаниями</h1>

    <UserCampaignsComponent />

    <div class="mb-8">
        <CreateCampaignComponent />
    </div>

    <CompanyApplyComponent Companies="AvailableCompanies" />
</div>

@code {
    private List<Campaign> AvailableCompanies;

    protected override async Task OnInitializedAsync()
    {
        AvailableCompanies = await CampaignService.GetAvailableCompaniesAsync();
    }
}