<nav>
    <div class="flex space-x-1">
        <NavLink href="/" Match="NavLinkMatch.All"
                 class="nav-link">
            <div class="flex items-center">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 mr-2" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6" />
                </svg>
                Главная
            </div>
        </NavLink>
        <NavLink href="/create-campaign"
                 class="nav-link">
            <div class="flex items-center">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 mr-2" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 4v16m8-8H4" />
                </svg>
                Создать кампанию
            </div>
        </NavLink>
        <NavLink href="/weapons"
                 class="nav-link">
            <div class="flex items-center">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 mr-2" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M18.364 18.364A9 9 0 005.636 5.636m12.728 12.728A9 9 0 015.636 5.636m12.728 12.728L5.636 5.636" />
                </svg>
                Оружие
            </div>
        </NavLink>
    </div>
</nav>

<style>
    .nav-link {
        @@apply text-gray-600 hover:text-gray-900 px-3 py-1.5 rounded-md text-sm font-medium transition-all;
    }

        .nav-link:hover {
            @@apply bg-gray-50;
        }

        .nav-link.active {
            @@apply text-blue-600 bg-blue-50;
        }
</style>