@using Microsoft.AspNetCore.Components.Authorization
@inject NavigationManager NavigationManager
@rendermode InteractiveServer

<CascadingAuthenticationState>
    <AuthorizeView>
        <Authorized>
            <header class="bg-white shadow-sm">
                <div class="max-w-7xl mx-auto py-4 px-4 sm:px-6 lg:px-8">
                    <div class="flex justify-between items-center">
                        <div class="flex items-center">
                            <h1 class="text-2xl font-semibold text-gray-900 mr-8">Менеджер кампаний</h1>

                            <NavMenu />
                        </div>

                        <div class="flex items-center">
                            <span class="text-gray-700 mr-4">@context.User.Identity?.Name</span>
                            <button @onclick="Logout"
                                    class="bg-red-500 hover:bg-red-600 text-white font-bold py-2 px-4 rounded">
                                Выйти
                            </button>
                        </div>
                    </div>
                </div>
            </header>
        </Authorized>
        <NotAuthorized>
            <header class="bg-white shadow-sm">
                <div class="max-w-7xl mx-auto py-4 px-4 sm:px-6 lg:px-8">
                    <div class="flex justify-between items-center">
                        <div class="flex items-center">
                            <h1 class="text-2xl font-semibold text-gray-900 mr-8">Менеджер кампаний</h1>
                        </div>

                        <div class="flex items-center">
                            <a href="/api/account/login" class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded">
                                Войти через Google
                            </a>
                        </div>
                    </div>
                </div>
            </header>
        </NotAuthorized>
    </AuthorizeView>
</CascadingAuthenticationState>

@code {
    private void Logout()
    {
        NavigationManager.NavigateTo("api/account/logout", true);
    }
}