<div class="@GetNotificationClass() p-4 mb-4 rounded-md flex justify-between items-center">
    <span>@Message</span>
    <Button OnClick="OnClose"
            Variant="secondary"
            Size="sm"
            Icon="fa-times" />
</div>

@code {
    [Parameter] public string Type { get; set; } = "info";
    [Parameter] public string Message { get; set; } = string.Empty;
    [Parameter] public EventCallback OnClose { get; set; }

    private string GetNotificationClass()
    {
        return Type switch
        {
            "success" => "bg-success-100 text-success-800 border border-success-200",
            "warning" => "bg-warning-100 text-warning-800 border border-warning-200",
            "error" => "bg-error-100 text-error-800 border border-error-200",
            _ => "bg-accent-100 text-accent-800 border border-accent-200"
        };
    }

}