@using Microsoft.AspNetCore.Components

<button @onclick="OnClick" disabled="@IsLoading"
        class="bg-green-500 hover:bg-green-600 text-white font-bold py-2 px-4 rounded mr-2">
    @if (IsLoading)
    {
        <span>Сохранение...</span>
    }
    else
    {
        <span>@ChildContent</span>
    }
</button>

@code {
    [Parameter] public bool IsLoading { get; set; }
    [Parameter] public EventCallback OnClick { get; set; }
    [Parameter] public RenderFragment ChildContent { get; set; }
}