<tr>
    <td class="py-0.5">
        <span class="text-sm">@Label</span>
    </td>
    <td class="py-0.5">
        <input type="text" class="w-16 text-center p-1 border border-gray-300 rounded"
               value="@Current" @onchange="(e => OnValueChanged.InvokeAsync(e.Value != null && int.TryParse(e.Value.ToString(), out var val) ? val : Current))" />
    </td>
    <td class="py-0.5">
        <input type="text" class="w-16 text-center p-1 border border-gray-300 rounded"
               value="@Max" @onchange="(e => OnMaxChanged.InvokeAsync(e.Value != null && int.TryParse(e.Value.ToString(), out var val) ? val : Max))" />
    </td>
</tr>

@code {
    [Parameter] 
    public required string Label { get; set; }
    [Parameter] public int Current { get; set; }
    [Parameter] public int Max { get; set; }
    [Parameter] public EventCallback<int> OnValueChanged { get; set; }
    [Parameter] public EventCallback<int> OnMaxChanged { get; set; }
}