<tr class="border-b border-gray-100">
    <td class="py-1">
        <span class="text-xs font-medium">@Label</span>
    </td>
    <td class="py-1 px-1">
        <input type="text" class="w-full text-center px-1 py-0.5 text-xs border border-gray-300 rounded focus:outline-none focus:ring-1 focus:ring-blue-500"
               value="@Current"
               @onchange="(e => OnValueChanged.InvokeAsync(e.Value != null && int.TryParse(e.Value.ToString(), out var val) ? val : Current))"/>
    </td>
    <td class="py-1 px-1">
        <input type="text" class="w-full text-center px-1 py-0.5 text-xs border border-gray-300 rounded focus:outline-none focus:ring-1 focus:ring-blue-500"
               value="@Max"
               @onchange="(e => OnMaxChanged.InvokeAsync(e.Value != null && int.TryParse(e.Value.ToString(), out var val) ? val : Max))"/>
    </td>
</tr>

@code {
    [Parameter] public required string Label { get; set; }
    [Parameter] public int Current { get; set; }
    [Parameter] public int Max { get; set; }
    [Parameter] public EventCallback<int> OnValueChanged { get; set; }
    [Parameter] public EventCallback<int> OnMaxChanged { get; set; }
}