@using CampaignManager.Web.Components.Features.Characters.Model
<div class="bg-white shadow rounded-lg p-4 mb-4 h-full">
    <h4 class="text-lg font-semibold mb-3">Характеристики</h4>
    <AttributeRowsTable Characteristics="@Character.Characteristics" OnUpdate="@UpdateCharacteristic"/>
</div>

@code {
    [Parameter] public Character Character { get; set; }
    [Parameter] public EventCallback OnUpdate { get; set; }

    private async Task UpdateCharacteristic(AttributeValue value)
    {
        value.UpdateDerived();
        await OnUpdate.InvokeAsync();
    }

}