@using CampaignManager.Web.Components.Features.Characters.Model
<div class="bg-white shadow rounded-lg p-4 mb-4 h-full">
    <h4 class="cm-h4 mb-3">Состояние персонажа</h4>

    <div class="flex flex-col gap-2">
        <DerivedAttributesTable Attributes="@Character.DerivedAttributes"/>
        <CharacterStateTable State="@Character.State"/>
    </div>
</div>

@code {
    [Parameter]
    public required Character Character { get; set; }
}
