<table class="w-full text-xs mb-2">
    <thead>
    <tr>
        <th class="text-left font-semibold">Состояние сыщика</th>
        <th class="w-10 text-center font-semibold"></th>
    </tr>
    </thead>
    <tbody>
    <StateRow Label="Без сознания" @bind-Value="State.IsUnconscious"/>
    <StateRow Label="Серьезная рана" @bind-Value="State.HasSeriousInjury"/>
    <StateRow Label="При смерти" @bind-Value="State.IsDying"/>
    <StateRow Label="Временное безумие" @bind-Value="State.HasTemporaryInsanity"/>
    <StateRow Label="Бессрочное безумие" @bind-Value="State.HasIndefiniteInsanity"/>
    </tbody>
</table>

@code {
    [Parameter] public CharacterState State { get; set; }
}