@using CampaignManager.Web.Components.Features.Characters.Model
<table class="w-full text-xs mt-2">
    <thead>
    <tr class="border-b border-gray-200">
        <th class="text-left font-semibold text-xs py-1">Состояние сыщика</th>
        <th class="w-10 text-center font-semibold text-xs py-1"></th>
    </tr>
    </thead>
    <tbody>
    <tr class="border-b border-gray-100">
        <td class="py-1"><span class="text-xs">Без сознания</span></td>
        <td class="py-1 text-center">
            <input type="checkbox" @bind="State.IsUnconscious"
                   class="w-4 h-4 rounded border-gray-300 text-blue-600 focus:ring-blue-500 focus:ring-2"/>
        </td>
    </tr>
    <tr class="border-b border-gray-100">
        <td class="py-1"><span class="text-xs">Серьезная рана</span></td>
        <td class="py-1 text-center">
            <input type="checkbox" @bind="State.HasSeriousInjury"
                   class="w-4 h-4 rounded border-gray-300 text-blue-600 focus:ring-blue-500 focus:ring-2"/>
        </td>
    </tr>
    <tr class="border-b border-gray-100">
        <td class="py-1"><span class="text-xs">При смерти</span></td>
        <td class="py-1 text-center">
            <input type="checkbox" @bind="State.IsDying"
                   class="w-4 h-4 rounded border-gray-300 text-blue-600 focus:ring-blue-500 focus:ring-2"/>
        </td>
    </tr>
    <tr class="border-b border-gray-100">
        <td class="py-1"><span class="text-xs">Врем. безумие</span></td>
        <td class="py-1 text-center">
            <input type="checkbox" @bind="State.HasTemporaryInsanity"
                   class="w-4 h-4 rounded border-gray-300 text-blue-600 focus:ring-blue-500 focus:ring-2"/>
        </td>
    </tr>
    <tr class="border-b border-gray-100">
        <td class="py-1"><span class="text-xs">Бесcр. безумие</span></td>
        <td class="py-1 text-center">
            <input type="checkbox" @bind="State.HasIndefiniteInsanity"
                   class="w-4 h-4 rounded border-gray-300 text-blue-600 focus:ring-blue-500 focus:ring-2"/>
        </td>
    </tr>
    </tbody>
</table>

@code {
    [Parameter] public required CharacterState State { get; set; }
}