@using CampaignManager.Web.Components.Features.Characters.Model
<table class="w-full text-xs mt-2">
    <thead>
    <tr class="border-b border-gray-200">
        <th class="text-left font-semibold text-xs py-1">Состояние сыщика</th>
        <th class="w-10 text-center font-semibold text-xs py-1"></th>
    </tr>
    </thead>
    <tbody>
    <StateRow Label="Без сознания" @bind-Value="State.IsUnconscious"/>
    <StateRow Label="Серьезная рана" @bind-Value="State.HasSeriousInjury"/>
    <StateRow Label="При смерти" @bind-Value="State.IsDying"/>
    <StateRow Label="Врем. безумие" @bind-Value="State.HasTemporaryInsanity"/>
    <StateRow Label="Бесcр. безумие" @bind-Value="State.HasIndefiniteInsanity"/>
    </tbody>
</table>

@code {
    [Parameter] public required CharacterState State { get; set; }
}