@using CampaignManager.Web.Components.Features.Characters.Model
<table class="w-full text-xs">
    <thead>
    <tr class="border-b border-gray-300">
        <th class="text-left font-semibold text-xs text-gray-600 pb-1">Состояние сыщика</th>
        <th class="w-8 text-center font-semibold text-xs text-gray-600 pb-1"></th>
    </tr>
    </thead>
    <tbody>
    <tr class="border-b border-gray-100">
        <td class="py-1"><span class="text-xs text-gray-700">Без сознания</span></td>
        <td class="py-1 text-center">
            <input type="checkbox" @bind="State.IsUnconscious"
                   class="w-3.5 h-3.5 rounded border-gray-300 text-blue-600 focus:ring-blue-500 focus:ring-1"/>
        </td>
    </tr>
    <tr class="border-b border-gray-100">
        <td class="py-1"><span class="text-xs text-gray-700">Серьезная рана</span></td>
        <td class="py-1 text-center">
            <input type="checkbox" @bind="State.HasSeriousInjury"
                   class="w-3.5 h-3.5 rounded border-gray-300 text-blue-600 focus:ring-blue-500 focus:ring-1"/>
        </td>
    </tr>
    <tr class="border-b border-gray-100">
        <td class="py-1"><span class="text-xs text-gray-700">При смерти</span></td>
        <td class="py-1 text-center">
            <input type="checkbox" @bind="State.IsDying"
                   class="w-3.5 h-3.5 rounded border-gray-300 text-blue-600 focus:ring-blue-500 focus:ring-1"/>
        </td>
    </tr>
    <tr class="border-b border-gray-100">
        <td class="py-1"><span class="text-xs text-gray-700">Врем. безумие</span></td>
        <td class="py-1 text-center">
            <input type="checkbox" @bind="State.HasTemporaryInsanity"
                   class="w-3.5 h-3.5 rounded border-gray-300 text-blue-600 focus:ring-blue-500 focus:ring-1"/>
        </td>
    </tr>
    <tr class="border-b border-gray-100">
        <td class="py-1"><span class="text-xs text-gray-700">Бесcр. безумие</span></td>
        <td class="py-1 text-center">
            <input type="checkbox" @bind="State.HasIndefiniteInsanity"
                   class="w-3.5 h-3.5 rounded border-gray-300 text-blue-600 focus:ring-blue-500 focus:ring-1"/>
        </td>
    </tr>
    </tbody>
</table>

@code {
    [Parameter] public required CharacterState State { get; set; }
}