@using CampaignManager.Web.Components.Features.Characters.Model
<table class="w-full text-xs">
    <thead>
    <tr class="border-b border-gray-300">
        <th class="text-left font-semibold text-xs text-gray-600 pb-1"></th>
        <th class="w-14 text-center font-semibold text-xs text-gray-600 pb-1">Текущ.</th>
        <th class="w-14 text-center font-semibold text-xs text-gray-600 pb-1">Макс.</th>
    </tr>
    </thead>
    <tbody>
    <tr class="border-b border-gray-100">
        <td class="py-1"><span class="text-xs font-medium text-gray-700">ПЗ</span></td>
        <td class="py-1 px-0.5">
            <input type="text" class="w-full text-center px-1 py-1 text-xs border border-gray-300 rounded focus:outline-none focus:ring-1 focus:ring-blue-500"
                   @bind="Attributes.HitPoints.Value"/>
        </td>
        <td class="py-1 px-0.5">
            <input type="text" class="w-full text-center px-1 py-1 text-xs border border-gray-300 rounded focus:outline-none focus:ring-1 focus:ring-blue-500"
                   @bind="Attributes.HitPoints.MaxValue"/>
        </td>
    </tr>
    <tr class="border-b border-gray-100">
        <td class="py-1"><span class="text-xs font-medium text-gray-700">ПМ</span></td>
        <td class="py-1 px-0.5">
            <input type="text" class="w-full text-center px-1 py-1 text-xs border border-gray-300 rounded focus:outline-none focus:ring-1 focus:ring-blue-500"
                   @bind="Attributes.MagicPoints.Value"/>
        </td>
        <td class="py-1 px-0.5">
            <input type="text" class="w-full text-center px-1 py-1 text-xs border border-gray-300 rounded focus:outline-none focus:ring-1 focus:ring-blue-500"
                   @bind="Attributes.MagicPoints.MaxValue"/>
        </td>
    </tr>
    <tr class="border-b border-gray-100">
        <td class="py-1"><span class="text-xs font-medium text-gray-700">Рассудок</span></td>
        <td class="py-1 px-0.5">
            <input type="text" class="w-full text-center px-1 py-1 text-xs border border-gray-300 rounded focus:outline-none focus:ring-1 focus:ring-blue-500"
                   @bind="Attributes.Sanity.Value"/>
        </td>
        <td class="py-1 px-0.5">
            <input type="text" class="w-full text-center px-1 py-1 text-xs border border-gray-300 rounded focus:outline-none focus:ring-1 focus:ring-blue-500"
                   @bind="Attributes.Sanity.MaxValue"/>
        </td>
    </tr>
    <tr class="border-b border-gray-100">
        <td class="py-1"><span class="text-xs font-medium text-gray-700">Удача</span></td>
        <td class="py-1 px-0.5">
            <input type="text" class="w-full text-center px-1 py-1 text-xs border border-gray-300 rounded focus:outline-none focus:ring-1 focus:ring-blue-500"
                   @bind="Attributes.Luck.Value"/>
        </td>
        <td class="py-1 px-0.5">
            <input type="text" class="w-full text-center px-1 py-1 text-xs border border-gray-300 rounded focus:outline-none focus:ring-1 focus:ring-blue-500"
                   @bind="Attributes.Luck.MaxValue"/>
        </td>
    </tr>
    </tbody>
</table>

@code {
    [Parameter] public required DerivedAttributes Attributes { get; set; }
}