@using CampaignManager.Web.Components.Features.Characters.Model
<div class="flex flex-col gap-4">
    @foreach (var group in Groups)
    {
        <SkillGroupCard Group="@group"/>
    }
</div>

@code {
    [Parameter]
    public required List<SkillGroup> Groups { get; set; }
}