<tr class="border-b border-gray-100">
    <td class="py-1">
        <span class="text-xs">@Label</span>
    </td>
    <td class="py-1 text-center">
        <input type="checkbox" checked="@Value"
               @onchange="@(e => ValueChanged.InvokeAsync(e.Value != null && (bool)e.Value))"
               class="w-4 h-4 rounded border-gray-300 text-blue-600 focus:ring-blue-500 focus:ring-2"/>
    </td>
</tr>

@code {
    [Parameter] public required string Label { get; set; }
    [Parameter] public bool Value { get; set; }
    [Parameter] public EventCallback<bool> ValueChanged { get; set; }
}